html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  background-color: #f5f5f5;
}

html.dark {
  background-color: #141414;
  --el-color-primary: #818CF8;
  --el-color-primary-light-3: #a7affa;
  --el-color-primary-light-5: #c0c6fc;
  --el-color-primary-light-7: #d9ddfd;
  --el-color-primary-light-8: #e6e8fe;
  --el-color-primary-light-9: #26272c;
  --el-color-primary-dark-2: #6770c6;
}